.skill-info-icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.65rem;
}

.skill-info-icon img {
  width: 2.4rem;
  height: auto;
  object-fit: contain;
}

.skills-info-card {
  min-height: 24rem;
  border-radius: 0.65rem;
  border: 1.5px solid var(--active-border-color);
  background: var(--ui-element-background);
}
.skills-info-card h6 {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.8rem 2rem;
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1.5px solid var(--active-border-color);
}

.skills-info-content {
  padding: 2rem;
}

.skill-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skill-info p {
  font-size: 1rem;
  font-weight: 500;
}
