@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: #fff;
}

:root {
  --background-color: #191111;
  --subtitle-background: #201314;
  --ui-element-background: #3b1219;
  --ui-hover-background: #500f1c;
  --ui-active-background: #611623;
  --border-color: #72232d;
  --hover-border-color: #8c333a;
  --active-border-color: #b54548;
  --component-background: #e5484d;
  --component-hover-background: #ec5d5e;
  --low-contrast-text: #ff9592;
  --high-contrast-text: #ffd1d9;
}
